{% extends "master.html" %}
{% block content %}
            <br>
            <br>
            <form class="form-signin" action="" method="POST" novalidate>
                <h2 class="modal-title">User Sign-in</h2>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="email">{{ form.email.label }}</label>
                    {{ form.email(size=32) }}
                </div>
                <div class="form-group">
                    <label for="username">{{ form.username.label }}</label>
                    {{ form.username(size=32) }}
                </div>
                <div class="form-group">
                    <label for="password">{{ form.password.label }}</label>
                    {{ form.password(size=32) }}
                </div>
                <div>
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p style="text-align: center">{{ form.submit() }}</p>
                </div>                
            </form>
        </div>
{% endblock %}
        