<!DOCTYPE html>
<html>
    <head>
        <title>Global Warming</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/article.css') }}">
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script>tinymce.init({selector:'textarea'});</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <br>
            <div class="col-md-6" style="margin-left: 40%">
                <a href="{{ url_for('login') }}"><button type="button" class="btn btn-default" style="position: absolute;">Sign-in to start blogging</button></a>
            </div>     
            <br>          
            <hr>
            <h1>Start writing for a cause!!</h1>
            <form action="/add_post" method="POST">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="title" class="form-control" id="email" placeholder="Enter Title"  name="title">
                </div>
                <div id="PreviewPicture"></div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input id="FileUpload" type="file" name="image" class="image" />
                </div>
                <div class="form-group">
                    <textarea name="body"></textarea>
                </div>
                <div style="margin-left: 47%">
                    <button type="submit" class="btn btn-default" style="float: center">Save</button>
                </div>
            </form>
            </div>        
        </div>
    </body>
</html>