<!DOCTYPE html>
<html>
    <head>
        <title>Global Warming</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <br>
            <br>
            <form class="form-inline" action="#" method="POST">
                <div class="form-group">
                    <label class="sr-only" for="email">Title</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter Title"  name="email">
                </div>
                <br/>
                <br/>

                <div id="iconbar">
                    <a class="label label-primary" data-wysihtml5-command="bold">bold</a>
                    <a class="label label-primary" data-wysihtml5-command="italic">italic</a>
                    <a class="label label-primary" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">H1</a>
                    <a class="label label-primary" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">P</a>
                </div>
            </form>        
        </div>
    </body>
</html>